:root {
  --color-base: rgb(255, 255, 255);
  --color-on-base: rgb(28, 28, 30);
  --color-surface: rgb(242, 242, 247);
  --color-on-surface: rgb(28, 28, 30);
  --color-surface--hover: rgb(232, 232, 237);
  --color-surface--active: rgb(222, 222, 227);
  --color-surface--disabled: rgb(248, 248, 255);
  --color-primary:rgb(0, 122, 255);
  --color-on-primary: rgb(255, 255, 255);
  --color-text: rgb(28, 28, 30);
  --color-text-subtle: rgb(142, 142, 147);
  --color-shadow-outline: rgba(0, 155, 255, 0.5);

  --font-family-sans: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
  'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
  'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

  --font-family-mono: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono',
  'Courier New', monospace;
  
  --focus-outline: 0 0 0 0.1rem var(--color-shadow-outline);
  --active-outline: 0 0 0 1rem var(--color-shadow-outline);

  --spacing-none: 0;
  --spacing-xs: .25rem;
  --spacing-sm: .5rem;
  --spacing-md: 1rem;
  --spacing-lg: 2rem;
  --spacing-xl: 4rem;
  --spacing-xxl: 8rem;
  --spacing-xxxl: 16rem;
}