/** raw.css breadcrumb pattern **/

:root{
  --pattern-breadcrumb--size: .8rem;
  --pattern-breadcrumb--thickness: .125rem;
  --pattern-breadcrumb--style: solid;
  --pattern-breadcrumb--color: currentColor;
}

/* container */
.pattern__breadcrumb {
  align-items: center;
  display: flex;
}

/* separator */
.pattern__breadcrumb > div {
  content: '';
  margin-right: var(--pattern-breadcrumb--size);
  width: var(--pattern-breadcrumb--size);
  height: var(--pattern-breadcrumb--size);
  border-top: var(--pattern-breadcrumb--style) var(--pattern-breadcrumb--thickness) var(--pattern-breadcrumb--color);
  border-right: var(--pattern-breadcrumb--style) var(--pattern-breadcrumb--thickness) var(--pattern-breadcrumb--color);
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}