/** raw.css sidebar pattern **/

:root {
  --pattern-sidebar--gutter: 3ch;
  --pattern-sidebar--aside-width: 30ch;
  --pattern-sidebar--content-width: 55%;
  --pattern-sidebar--height: 100vh;
}

/** layout **/
.pattern__sidebar {
  overflow: hidden;
  height: var(--pattern-sidebar--height);
}

/** container **/
.pattern__sidebar > * {
  display: flex;
  flex-wrap: wrap;
  margin: calc(var(--pattern-sidebar--gutter) / 2 * -1);
  height: calc(100% + var(--pattern-sidebar--gutter));
}

/** both aside and main **/
.pattern__sidebar > * > aside, main {
  margin: calc(var(--pattern-sidebar--gutter) / 2);
  flex-basis: var(--pattern-sidebar--aside-width);
  flex-grow: 1;
}

/** main **/
.pattern__sidebar > * > main {
  flex-basis: 0;
  flex-grow: 999;
  min-width: calc(var(--pattern-sidebar--content-width) - var(--pattern-sidebar--gutter));
}