fieldset {
  margin: 0;
  padding: 0;
}

optgroup,
select,
textarea {
  padding: 0;
  line-height: inherit;
  color: inherit;
  background-color: var(--color-surface);
}



textarea {
  resize: vertical;
}

input::placeholder,
textarea::placeholder {
  color: var(--color-text-subtle);
}

button,
[role='button'] {
  cursor: pointer;
}

button,
input {
  padding: 0.5rem;
  margin: 0.1rem;
  background-color: var(--color-surface);
  color: var(--color-on-surface);
  background-image: none;
  font-size: 1rem;
  transition: all 0.3s
}

input:active,
button:active {
  background-color: var(--color-surface--active);
  outline: none;
}

input:hover,
button:hover {
  background-color:  var(--color-surface--hover);
}

input:disabled,
button:disabled {
  background-color:  var(--color-surface--disabled);
  color: var(--color-text-subtle);
  cursor: not-allowed;
}

input:focus,
button:focus {
  outline: none;
  box-shadow: var(--focus-outline);
}